.people-card {
  &__image {
    padding-top: 66.6%;
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    img {
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
}
