.people {
  width: 100%;
  padding: 1.5rem;
  @media (max-width: 768px) {
    padding: 1rem;
  }
  &__action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-button {
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    display: flex;
  }
}
